.header-container,
.app-container {
  display: flex;
}

.header-container {
  justify-content: space-between;
}

.logo {
  width: 150px;
}

.nav-container ul {
  display: flex;
}

.nav-container ul li {
  list-style-type: none;
  padding: 10px;
}