.header-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
}

.logo {
  width: 150px;

}

.nav-items {
  padding: 0 20px;
}

.nav-items>ul {
  display: flex;
  list-style-type: none;
  font-size: 24px;
}

.nav-items>ul>li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {

  width: 200px;
  height: 370px;
  padding: 5px;
  margin: 5px;
  background-color: #f1f1f1;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid gray;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
}

.filter-btn {
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
  margin: 20px;
}